flows/flows.json
[{"id":"912b7fed.347f3","type":"tab","label":"LKG Registry","disabled":false,"info":""},{"id":"da595f15.cb322","type":"tab","label":"Role Based Access","disabled":false,"info":""},{"id":"70d08aca.cc6fc4","type":"tab","label":"Chain Of Custody Token","disabled":false,"info":""},{"id":"d030065a.a56a98","type":"tab","label":"Control","disabled":false,"info":""},{"id":"5e0a4060.a2534","type":"ethereum-client","name":"Ganache Supply Chain","url":"HTTP://127.0.0.1:7545"},{"id":"4616027d.7fc57c","type":"smart-contract","name":"Chain Of Custody Token","ethereumClient":"5e0a4060.a2534","address":"0xd283e07545D005585C95665b8c5dCEF5b3ca0E70","abi":"[     {       \"inputs\": [         {           \"internalType\": \"string\",           \"name\": \"_name\",           \"type\": \"string\"         },         {           \"internalType\": \"string\",           \"name\": \"_symbol\",           \"type\": \"string\"         },         {           \"internalType\": \"address\",           \"name\": \"_registry\",           \"type\": \"address\"         },         {           \"internalType\": \"address\",           \"name\": \"_rbac\",           \"type\": \"address\"         }       ],       \"stateMutability\": \"nonpayable\",       \"type\": \"constructor\"     },     {       \"anonymous\": false,       \"inputs\": [         {           \"indexed\": true,           \"internalType\": \"address\",           \"name\": \"owner\",           \"type\": \"address\"         },         {           \"indexed\": true,           \"internalType\": \"address\",           \"name\": \"approved\",           \"type\": \"address\"         },         {           \"indexed\": true,           \"internalType\": \"uint256\",           \"name\": \"tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"Approval\",       \"type\": \"event\"     },     {       \"anonymous\": false,       \"inputs\": [         {           \"indexed\": true,           \"internalType\": \"address\",           \"name\": \"owner\",           \"type\": \"address\"         },         {           \"indexed\": true,           \"internalType\": \"address\",           \"name\": \"operator\",           \"type\": \"address\"         },         {           \"indexed\": false,           \"internalType\": \"bool\",           \"name\": \"approved\",           \"type\": \"bool\"         }       ],       \"name\": \"ApprovalForAll\",       \"type\": \"event\"     },     {       \"anonymous\": false,       \"inputs\": [         {           \"components\": [             {               \"internalType\": \"uint256\",               \"name\": \"time\",               \"type\": \"uint256\"             },             {               \"internalType\": \"uint256\",               \"name\": \"tokenId\",               \"type\": \"uint256\"             }           ],           \"indexed\": false,           \"internalType\": \"struct Structs.NonGSETransaction\",           \"name\": \"\",           \"type\": \"tuple\"         }       ],       \"name\": \"NonGSETransaction\",       \"type\": \"event\"     },     {       \"anonymous\": false,       \"inputs\": [         {           \"indexed\": true,           \"internalType\": \"address\",           \"name\": \"previousOwner\",           \"type\": \"address\"         },         {           \"indexed\": true,           \"internalType\": \"address\",           \"name\": \"newOwner\",           \"type\": \"address\"         }       ],       \"name\": \"OwnershipTransferred\",       \"type\": \"event\"     },     {       \"anonymous\": false,       \"inputs\": [         {           \"indexed\": false,           \"internalType\": \"address\",           \"name\": \"\",           \"type\": \"address\"         },         {           \"indexed\": false,           \"internalType\": \"address\",           \"name\": \"\",           \"type\": \"address\"         },         {           \"indexed\": false,           \"internalType\": \"uint256\",           \"name\": \"\",           \"type\": \"uint256\"         }       ],       \"name\": \"TokenTransfer\",       \"type\": \"event\"     },     {       \"anonymous\": false,       \"inputs\": [         {           \"indexed\": true,           \"internalType\": \"address\",           \"name\": \"from\",           \"type\": \"address\"         },         {           \"indexed\": true,           \"internalType\": \"address\",           \"name\": \"to\",           \"type\": \"address\"         },         {           \"indexed\": true,           \"internalType\": \"uint256\",           \"name\": \"tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"Transfer\",       \"type\": \"event\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"to\",           \"type\": \"address\"         },         {           \"internalType\": \"uint256\",           \"name\": \"tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"approve\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"owner\",           \"type\": \"address\"         }       ],       \"name\": \"balanceOf\",       \"outputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"\",           \"type\": \"uint256\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"getApproved\",       \"outputs\": [         {           \"internalType\": \"address\",           \"name\": \"\",           \"type\": \"address\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"owner\",           \"type\": \"address\"         },         {           \"internalType\": \"address\",           \"name\": \"operator\",           \"type\": \"address\"         }       ],       \"name\": \"isApprovedForAll\",       \"outputs\": [         {           \"internalType\": \"bool\",           \"name\": \"\",           \"type\": \"bool\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [],       \"name\": \"name\",       \"outputs\": [         {           \"internalType\": \"string\",           \"name\": \"\",           \"type\": \"string\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [],       \"name\": \"owner\",       \"outputs\": [         {           \"internalType\": \"address\",           \"name\": \"\",           \"type\": \"address\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"ownerOf\",       \"outputs\": [         {           \"internalType\": \"address\",           \"name\": \"\",           \"type\": \"address\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [],       \"name\": \"renounceOwnership\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"from\",           \"type\": \"address\"         },         {           \"internalType\": \"address\",           \"name\": \"to\",           \"type\": \"address\"         },         {           \"internalType\": \"uint256\",           \"name\": \"tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"safeTransferFrom\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"from\",           \"type\": \"address\"         },         {           \"internalType\": \"address\",           \"name\": \"to\",           \"type\": \"address\"         },         {           \"internalType\": \"uint256\",           \"name\": \"tokenId\",           \"type\": \"uint256\"         },         {           \"internalType\": \"bytes\",           \"name\": \"_data\",           \"type\": \"bytes\"         }       ],       \"name\": \"safeTransferFrom\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"operator\",           \"type\": \"address\"         },         {           \"internalType\": \"bool\",           \"name\": \"approved\",           \"type\": \"bool\"         }       ],       \"name\": \"setApprovalForAll\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"bytes4\",           \"name\": \"interfaceId\",           \"type\": \"bytes4\"         }       ],       \"name\": \"supportsInterface\",       \"outputs\": [         {           \"internalType\": \"bool\",           \"name\": \"\",           \"type\": \"bool\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [],       \"name\": \"symbol\",       \"outputs\": [         {           \"internalType\": \"string\",           \"name\": \"\",           \"type\": \"string\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"from\",           \"type\": \"address\"         },         {           \"internalType\": \"address\",           \"name\": \"to\",           \"type\": \"address\"         },         {           \"internalType\": \"uint256\",           \"name\": \"tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"transferFrom\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"newOwner\",           \"type\": \"address\"         }       ],       \"name\": \"transferOwnership\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"_owner\",           \"type\": \"address\"         },         {           \"components\": [             {               \"internalType\": \"uint256[]\",               \"name\": \"sourceTokenIds\",               \"type\": \"uint256[]\"             }           ],           \"internalType\": \"struct Structs.Metadata\",           \"name\": \"_tokenData\",           \"type\": \"tuple\"         }       ],       \"name\": \"mintToken\",       \"outputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"\",           \"type\": \"uint256\"         }       ],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"_from\",           \"type\": \"address\"         },         {           \"internalType\": \"address\",           \"name\": \"_to\",           \"type\": \"address\"         },         {           \"internalType\": \"uint256\",           \"name\": \"_tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"transferToken\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"_tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"getTokenMetadata\",       \"outputs\": [         {           \"components\": [             {               \"internalType\": \"uint256[]\",               \"name\": \"sourceTokenIds\",               \"type\": \"uint256[]\"             }           ],           \"internalType\": \"struct Structs.Metadata\",           \"name\": \"\",           \"type\": \"tuple\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     }   ]"},{"id":"453f541e.9f451c","type":"sender-account","name":"rbac root account","ethereumClient":"5e0a4060.a2534","address":"0x443007D52e3E285E54FD2F470aaDFFCF7d76A195","managedByEthereumClient":true,"transactionQueueSize":"100"},{"id":"ba696207.34e7","type":"smart-contract","name":"Control","ethereumClient":"5e0a4060.a2534","address":"0xcF36e71F5AFE4d49BD9E0e1A1D2201f461a899CD","abi":"[     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"_rbacAddress\",           \"type\": \"address\"         },         {           \"internalType\": \"address\",           \"name\": \"_registryAddress\",           \"type\": \"address\"         }       ],       \"stateMutability\": \"nonpayable\",       \"type\": \"constructor\"     },     {       \"anonymous\": false,       \"inputs\": [         {           \"indexed\": false,           \"internalType\": \"uint256\",           \"name\": \"controlId\",           \"type\": \"uint256\"         },         {           \"indexed\": false,           \"internalType\": \"address\",           \"name\": \"controlledEntity\",           \"type\": \"address\"         },         {           \"indexed\": false,           \"internalType\": \"address\",           \"name\": \"controlEntity\",           \"type\": \"address\"         }       ],       \"name\": \"ControlCreated\",       \"type\": \"event\"     },     {       \"anonymous\": false,       \"inputs\": [         {           \"components\": [             {               \"internalType\": \"uint256\",               \"name\": \"controlId\",               \"type\": \"uint256\"             },             {               \"internalType\": \"uint256\",               \"name\": \"timeOfControl\",               \"type\": \"uint256\"             },             {               \"internalType\": \"enum Enums.ControlStatus\",               \"name\": \"status\",               \"type\": \"uint8\"             },             {               \"internalType\": \"address\",               \"name\": \"controlled\",               \"type\": \"address\"             },             {               \"internalType\": \"address\",               \"name\": \"controller\",               \"type\": \"address\"             }           ],           \"indexed\": false,           \"internalType\": \"struct Structs.GSEControl\",           \"name\": \"control\",           \"type\": \"tuple\"         }       ],       \"name\": \"ControlFinished\",       \"type\": \"event\"     },     {       \"anonymous\": false,       \"inputs\": [         {           \"indexed\": false,           \"internalType\": \"uint256\",           \"name\": \"controlId\",           \"type\": \"uint256\"         },         {           \"components\": [             {               \"internalType\": \"bool\",               \"name\": \"gseOK\",               \"type\": \"bool\"             },             {               \"internalType\": \"string[]\",               \"name\": \"findings\",               \"type\": \"string[]\"             }           ],           \"indexed\": false,           \"internalType\": \"struct Structs.GSEControlDetails\",           \"name\": \"findings\",           \"type\": \"tuple\"         }       ],       \"name\": \"FindingsForControlReported\",       \"type\": \"event\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"_controlled\",           \"type\": \"address\"         }       ],       \"name\": \"startControl\",       \"outputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"\",           \"type\": \"uint256\"         }       ],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"_controlId\",           \"type\": \"uint256\"         },         {           \"components\": [             {               \"internalType\": \"bool\",               \"name\": \"gseOK\",               \"type\": \"bool\"             },             {               \"internalType\": \"string[]\",               \"name\": \"findings\",               \"type\": \"string[]\"             }           ],           \"internalType\": \"struct Structs.GSEControlDetails\",           \"name\": \"_findings\",           \"type\": \"tuple\"         }       ],       \"name\": \"reportFindingsForControl\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"_controlId\",           \"type\": \"uint256\"         },         {           \"internalType\": \"bool\",           \"name\": \"_opinion\",           \"type\": \"bool\"         }       ],       \"name\": \"acknowledgeControl\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     }   ]"},{"id":"cfceefd1.68b63","type":"smart-contract","name":"LKG Registry","ethereumClient":"5e0a4060.a2534","address":"0xa1e1e4eD07f80F665025f1f808783D739a5d03b3","abi":"[     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"_rbac\",           \"type\": \"address\"         }       ],       \"stateMutability\": \"nonpayable\",       \"type\": \"constructor\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"_address\",           \"type\": \"address\"         },         {           \"components\": [             {               \"internalType\": \"enum Enums.SupplyChainRole\",               \"name\": \"role\",               \"type\": \"uint8\"             },             {               \"internalType\": \"string\",               \"name\": \"tier\",               \"type\": \"string\"             },             {               \"internalType\": \"bool\",               \"name\": \"gseStatus\",               \"type\": \"bool\"             },             {               \"internalType\": \"uint256[]\",               \"name\": \"controls\",               \"type\": \"uint256[]\"             },             {               \"internalType\": \"uint256[]\",               \"name\": \"transactions\",               \"type\": \"uint256[]\"             }           ],           \"internalType\": \"struct Structs.SupplyChainEntity\",           \"name\": \"_entity\",           \"type\": \"tuple\"         }       ],       \"name\": \"addSupplyChainEntity\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"_entity\",           \"type\": \"address\"         }       ],       \"name\": \"getSupplyChainEntity\",       \"outputs\": [         {           \"components\": [             {               \"internalType\": \"enum Enums.SupplyChainRole\",               \"name\": \"role\",               \"type\": \"uint8\"             },             {               \"internalType\": \"string\",               \"name\": \"tier\",               \"type\": \"string\"             },             {               \"internalType\": \"bool\",               \"name\": \"gseStatus\",               \"type\": \"bool\"             },             {               \"internalType\": \"uint256[]\",               \"name\": \"controls\",               \"type\": \"uint256[]\"             },             {               \"internalType\": \"uint256[]\",               \"name\": \"transactions\",               \"type\": \"uint256[]\"             }           ],           \"internalType\": \"struct Structs.SupplyChainEntity\",           \"name\": \"\",           \"type\": \"tuple\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"_entity\",           \"type\": \"address\"         }       ],       \"name\": \"removeSupplyChainEntity\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"_address\",           \"type\": \"address\"         },         {           \"components\": [             {               \"internalType\": \"enum Enums.ControlRole\",               \"name\": \"role\",               \"type\": \"uint8\"             },             {               \"internalType\": \"string\",               \"name\": \"description\",               \"type\": \"string\"             },             {               \"internalType\": \"bool\",               \"name\": \"gseStatus\",               \"type\": \"bool\"             },             {               \"internalType\": \"uint256\",               \"name\": \"numberOfControls\",               \"type\": \"uint256\"             }           ],           \"internalType\": \"struct Structs.ControlEntity\",           \"name\": \"_entity\",           \"type\": \"tuple\"         }       ],       \"name\": \"addControlEntity\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"_entity\",           \"type\": \"address\"         }       ],       \"name\": \"getControlentity\",       \"outputs\": [         {           \"components\": [             {               \"internalType\": \"enum Enums.ControlRole\",               \"name\": \"role\",               \"type\": \"uint8\"             },             {               \"internalType\": \"string\",               \"name\": \"description\",               \"type\": \"string\"             },             {               \"internalType\": \"bool\",               \"name\": \"gseStatus\",               \"type\": \"bool\"             },             {               \"internalType\": \"uint256\",               \"name\": \"numberOfControls\",               \"type\": \"uint256\"             }           ],           \"internalType\": \"struct Structs.ControlEntity\",           \"name\": \"\",           \"type\": \"tuple\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"_entity\",           \"type\": \"address\"         }       ],       \"name\": \"removeControlEntity\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"_entity\",           \"type\": \"address\"         },         {           \"components\": [             {               \"internalType\": \"uint256\",               \"name\": \"controlId\",               \"type\": \"uint256\"             },             {               \"internalType\": \"uint256\",               \"name\": \"timeOfControl\",               \"type\": \"uint256\"             },             {               \"internalType\": \"enum Enums.ControlStatus\",               \"name\": \"status\",               \"type\": \"uint8\"             },             {               \"internalType\": \"address\",               \"name\": \"controlled\",               \"type\": \"address\"             },             {               \"internalType\": \"address\",               \"name\": \"controller\",               \"type\": \"address\"             }           ],           \"internalType\": \"struct Structs.GSEControl\",           \"name\": \"_control\",           \"type\": \"tuple\"         }       ],       \"name\": \"addControl\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"_controlId\",           \"type\": \"uint256\"         }       ],       \"name\": \"getControl\",       \"outputs\": [         {           \"components\": [             {               \"internalType\": \"uint256\",               \"name\": \"controlId\",               \"type\": \"uint256\"             },             {               \"internalType\": \"uint256\",               \"name\": \"timeOfControl\",               \"type\": \"uint256\"             },             {               \"internalType\": \"enum Enums.ControlStatus\",               \"name\": \"status\",               \"type\": \"uint8\"             },             {               \"internalType\": \"address\",               \"name\": \"controlled\",               \"type\": \"address\"             },             {               \"internalType\": \"address\",               \"name\": \"controller\",               \"type\": \"address\"             }           ],           \"internalType\": \"struct Structs.GSEControl\",           \"name\": \"\",           \"type\": \"tuple\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"_entity\",           \"type\": \"address\"         }       ],       \"name\": \"getControls\",       \"outputs\": [         {           \"internalType\": \"uint256[]\",           \"name\": \"\",           \"type\": \"uint256[]\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"_entity\",           \"type\": \"address\"         },         {           \"components\": [             {               \"internalType\": \"uint256\",               \"name\": \"time\",               \"type\": \"uint256\"             },             {               \"internalType\": \"uint256\",               \"name\": \"tokenId\",               \"type\": \"uint256\"             }           ],           \"internalType\": \"struct Structs.NonGSETransaction\",           \"name\": \"_transaction\",           \"type\": \"tuple\"         }       ],       \"name\": \"addNonGSETransaction\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"_transactionIndex\",           \"type\": \"uint256\"         }       ],       \"name\": \"getNonGSETransaction\",       \"outputs\": [         {           \"components\": [             {               \"internalType\": \"uint256\",               \"name\": \"time\",               \"type\": \"uint256\"             },             {               \"internalType\": \"uint256\",               \"name\": \"tokenId\",               \"type\": \"uint256\"             }           ],           \"internalType\": \"struct Structs.NonGSETransaction\",           \"name\": \"\",           \"type\": \"tuple\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"_entity\",           \"type\": \"address\"         }       ],       \"name\": \"getNonGSETransactions\",       \"outputs\": [         {           \"internalType\": \"uint256[]\",           \"name\": \"\",           \"type\": \"uint256[]\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [],       \"name\": \"acknowledgeGSE\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     }   ]"},{"id":"b95be0a1.0f62f","type":"smart-contract","name":"RBAC","ethereumClient":"5e0a4060.a2534","address":"0xcC74a780BB0e47762ca97d7A8164dA39a69d7008","abi":"[     {       \"inputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"constructor\"     },     {       \"anonymous\": false,       \"inputs\": [         {           \"indexed\": false,           \"internalType\": \"address\",           \"name\": \"member\",           \"type\": \"address\"         },         {           \"indexed\": false,           \"internalType\": \"string\",           \"name\": \"roleId\",           \"type\": \"string\"         }       ],       \"name\": \"MemberAdded\",       \"type\": \"event\"     },     {       \"anonymous\": false,       \"inputs\": [         {           \"indexed\": false,           \"internalType\": \"address\",           \"name\": \"member\",           \"type\": \"address\"         },         {           \"indexed\": false,           \"internalType\": \"string\",           \"name\": \"roleId\",           \"type\": \"string\"         }       ],       \"name\": \"MemberRemoved\",       \"type\": \"event\"     },     {       \"anonymous\": false,       \"inputs\": [         {           \"indexed\": false,           \"internalType\": \"string\",           \"name\": \"roleId\",           \"type\": \"string\"         }       ],       \"name\": \"RoleCreated\",       \"type\": \"event\"     },     {       \"inputs\": [],       \"name\": \"ROOT_ROLE\",       \"outputs\": [         {           \"internalType\": \"string\",           \"name\": \"\",           \"type\": \"string\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [],       \"name\": \"SUPPLY_CHAIN_ADMIN_ROLE\",       \"outputs\": [         {           \"internalType\": \"string\",           \"name\": \"\",           \"type\": \"string\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [],       \"name\": \"SUPPLY_CHAIN_CONTROL_ENTITY_ROLE\",       \"outputs\": [         {           \"internalType\": \"string\",           \"name\": \"\",           \"type\": \"string\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [],       \"name\": \"SUPPLY_CHAIN_ENTITY_ROLE\",       \"outputs\": [         {           \"internalType\": \"string\",           \"name\": \"\",           \"type\": \"string\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [],       \"name\": \"SUPPLY_CHAIN_MINTER_ROLE\",       \"outputs\": [         {           \"internalType\": \"string\",           \"name\": \"\",           \"type\": \"string\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [         {           \"internalType\": \"string\",           \"name\": \"_roleId\",           \"type\": \"string\"         }       ],       \"name\": \"roleExists\",       \"outputs\": [         {           \"internalType\": \"bool\",           \"name\": \"\",           \"type\": \"bool\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"_member\",           \"type\": \"address\"         },         {           \"internalType\": \"string\",           \"name\": \"_roleId\",           \"type\": \"string\"         }       ],       \"name\": \"hasRole\",       \"outputs\": [         {           \"internalType\": \"bool\",           \"name\": \"\",           \"type\": \"bool\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"_member\",           \"type\": \"address\"         },         {           \"internalType\": \"string\",           \"name\": \"_roleId\",           \"type\": \"string\"         }       ],       \"name\": \"addMember\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"_member\",           \"type\": \"address\"         },         {           \"internalType\": \"string\",           \"name\": \"_roleId\",           \"type\": \"string\"         }       ],       \"name\": \"removeMember\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     }   ]"},{"id":"3c2b7df9.cd6412","type":"sender-account","name":"supply chain admin","ethereumClient":"5e0a4060.a2534","address":"0x90c9425330fC35D63533be3a5B15d95771DedE20","managedByEthereumClient":true,"transactionQueueSize":"100"},{"id":"40346123.01e53","type":"sender-account","name":"Producer 1","ethereumClient":"5e0a4060.a2534","address":"0xDa38E26ef4d89617A1f26179A78813869F46a5DB","managedByEthereumClient":true,"transactionQueueSize":"100"},{"id":"9af73fc5.27648","type":"sender-account","name":"Producer 2","ethereumClient":"5e0a4060.a2534","address":"0xF18Cd3C0Fc23dfB6A17539352dAB870AfD461904","managedByEthereumClient":true,"transactionQueueSize":"100"},{"id":"da3e94cf.0ebf68","type":"sender-account","name":"Producer 3","ethereumClient":"5e0a4060.a2534","address":"0x0942269301f2FD774d794D6aA7865c376511FB3E","managedByEthereumClient":true,"transactionQueueSize":"100"},{"id":"918f0636.0af928","type":"sender-account","name":"Producer 4","ethereumClient":"5e0a4060.a2534","address":"0x860D9b0868f498a7A107430929466246Dec92Efd","managedByEthereumClient":true,"transactionQueueSize":"100"},{"id":"7425b38c.c145fc","type":"sender-account","name":"Controller 1","ethereumClient":"5e0a4060.a2534","address":"0xC3F76ebFC4eE489B0f9F05B4C9662741738267c6","managedByEthereumClient":true,"transactionQueueSize":"100"},{"id":"a0ac8fae.a9d13","type":"sender-account","name":"Controller 2","ethereumClient":"5e0a4060.a2534","address":"0x9e1595E3224feda3800fD5c3C1F52Fd5BF21A163","managedByEthereumClient":true,"transactionQueueSize":"100"},{"id":"5f5e1047.e39ec","type":"sender-account","name":"Delivery 1","ethereumClient":"5e0a4060.a2534","address":"0xb994cceE6bbFfb539C846F80f83d5e626017F909","managedByEthereumClient":true,"transactionQueueSize":"100"},{"id":"da627c05.8a84f","type":"sender-account","name":"Delivery 2","ethereumClient":"5e0a4060.a2534","address":"0x81442782A1dBd97030bD1b95899186812dc8433A","managedByEthereumClient":true,"transactionQueueSize":"100"},{"id":"ebd030e7.764ec","type":"sender-account","name":"Delivery 3","ethereumClient":"5e0a4060.a2534","address":"0x8e2F1147c95C6052da3463061cd8B8031f02ceE3","managedByEthereumClient":true,"transactionQueueSize":"100"},{"id":"644f44bc.a699cc","type":"ethereum-client","name":"Ganache Supply Chain WebService","url":"ws://127.0.0.1:7545"},{"id":"ff86aa35.46a0a8","type":"smart-contract","name":"Chain of Custody Token Webservice","ethereumClient":"644f44bc.a699cc","address":"0xd283e07545D005585C95665b8c5dCEF5b3ca0E70","abi":"[     {       \"inputs\": [         {           \"internalType\": \"string\",           \"name\": \"_name\",           \"type\": \"string\"         },         {           \"internalType\": \"string\",           \"name\": \"_symbol\",           \"type\": \"string\"         },         {           \"internalType\": \"address\",           \"name\": \"_registry\",           \"type\": \"address\"         },         {           \"internalType\": \"address\",           \"name\": \"_rbac\",           \"type\": \"address\"         }       ],       \"stateMutability\": \"nonpayable\",       \"type\": \"constructor\"     },     {       \"anonymous\": false,       \"inputs\": [         {           \"indexed\": true,           \"internalType\": \"address\",           \"name\": \"owner\",           \"type\": \"address\"         },         {           \"indexed\": true,           \"internalType\": \"address\",           \"name\": \"approved\",           \"type\": \"address\"         },         {           \"indexed\": true,           \"internalType\": \"uint256\",           \"name\": \"tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"Approval\",       \"type\": \"event\"     },     {       \"anonymous\": false,       \"inputs\": [         {           \"indexed\": true,           \"internalType\": \"address\",           \"name\": \"owner\",           \"type\": \"address\"         },         {           \"indexed\": true,           \"internalType\": \"address\",           \"name\": \"operator\",           \"type\": \"address\"         },         {           \"indexed\": false,           \"internalType\": \"bool\",           \"name\": \"approved\",           \"type\": \"bool\"         }       ],       \"name\": \"ApprovalForAll\",       \"type\": \"event\"     },     {       \"anonymous\": false,       \"inputs\": [         {           \"components\": [             {               \"internalType\": \"uint256\",               \"name\": \"time\",               \"type\": \"uint256\"             },             {               \"internalType\": \"uint256\",               \"name\": \"tokenId\",               \"type\": \"uint256\"             }           ],           \"indexed\": false,           \"internalType\": \"struct Structs.NonGSETransaction\",           \"name\": \"\",           \"type\": \"tuple\"         }       ],       \"name\": \"NonGSETransaction\",       \"type\": \"event\"     },     {       \"anonymous\": false,       \"inputs\": [         {           \"indexed\": true,           \"internalType\": \"address\",           \"name\": \"previousOwner\",           \"type\": \"address\"         },         {           \"indexed\": true,           \"internalType\": \"address\",           \"name\": \"newOwner\",           \"type\": \"address\"         }       ],       \"name\": \"OwnershipTransferred\",       \"type\": \"event\"     },     {       \"anonymous\": false,       \"inputs\": [         {           \"indexed\": false,           \"internalType\": \"address\",           \"name\": \"\",           \"type\": \"address\"         },         {           \"indexed\": false,           \"internalType\": \"address\",           \"name\": \"\",           \"type\": \"address\"         },         {           \"indexed\": false,           \"internalType\": \"uint256\",           \"name\": \"\",           \"type\": \"uint256\"         }       ],       \"name\": \"TokenTransfer\",       \"type\": \"event\"     },     {       \"anonymous\": false,       \"inputs\": [         {           \"indexed\": true,           \"internalType\": \"address\",           \"name\": \"from\",           \"type\": \"address\"         },         {           \"indexed\": true,           \"internalType\": \"address\",           \"name\": \"to\",           \"type\": \"address\"         },         {           \"indexed\": true,           \"internalType\": \"uint256\",           \"name\": \"tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"Transfer\",       \"type\": \"event\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"to\",           \"type\": \"address\"         },         {           \"internalType\": \"uint256\",           \"name\": \"tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"approve\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"owner\",           \"type\": \"address\"         }       ],       \"name\": \"balanceOf\",       \"outputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"\",           \"type\": \"uint256\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"getApproved\",       \"outputs\": [         {           \"internalType\": \"address\",           \"name\": \"\",           \"type\": \"address\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"owner\",           \"type\": \"address\"         },         {           \"internalType\": \"address\",           \"name\": \"operator\",           \"type\": \"address\"         }       ],       \"name\": \"isApprovedForAll\",       \"outputs\": [         {           \"internalType\": \"bool\",           \"name\": \"\",           \"type\": \"bool\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [],       \"name\": \"name\",       \"outputs\": [         {           \"internalType\": \"string\",           \"name\": \"\",           \"type\": \"string\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [],       \"name\": \"owner\",       \"outputs\": [         {           \"internalType\": \"address\",           \"name\": \"\",           \"type\": \"address\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"ownerOf\",       \"outputs\": [         {           \"internalType\": \"address\",           \"name\": \"\",           \"type\": \"address\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [],       \"name\": \"renounceOwnership\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"from\",           \"type\": \"address\"         },         {           \"internalType\": \"address\",           \"name\": \"to\",           \"type\": \"address\"         },         {           \"internalType\": \"uint256\",           \"name\": \"tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"safeTransferFrom\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"from\",           \"type\": \"address\"         },         {           \"internalType\": \"address\",           \"name\": \"to\",           \"type\": \"address\"         },         {           \"internalType\": \"uint256\",           \"name\": \"tokenId\",           \"type\": \"uint256\"         },         {           \"internalType\": \"bytes\",           \"name\": \"_data\",           \"type\": \"bytes\"         }       ],       \"name\": \"safeTransferFrom\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"operator\",           \"type\": \"address\"         },         {           \"internalType\": \"bool\",           \"name\": \"approved\",           \"type\": \"bool\"         }       ],       \"name\": \"setApprovalForAll\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"bytes4\",           \"name\": \"interfaceId\",           \"type\": \"bytes4\"         }       ],       \"name\": \"supportsInterface\",       \"outputs\": [         {           \"internalType\": \"bool\",           \"name\": \"\",           \"type\": \"bool\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [],       \"name\": \"symbol\",       \"outputs\": [         {           \"internalType\": \"string\",           \"name\": \"\",           \"type\": \"string\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"from\",           \"type\": \"address\"         },         {           \"internalType\": \"address\",           \"name\": \"to\",           \"type\": \"address\"         },         {           \"internalType\": \"uint256\",           \"name\": \"tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"transferFrom\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"newOwner\",           \"type\": \"address\"         }       ],       \"name\": \"transferOwnership\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"_owner\",           \"type\": \"address\"         },         {           \"components\": [             {               \"internalType\": \"uint256[]\",               \"name\": \"sourceTokenIds\",               \"type\": \"uint256[]\"             }           ],           \"internalType\": \"struct Structs.Metadata\",           \"name\": \"_tokenData\",           \"type\": \"tuple\"         }       ],       \"name\": \"mintToken\",       \"outputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"\",           \"type\": \"uint256\"         }       ],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"_from\",           \"type\": \"address\"         },         {           \"internalType\": \"address\",           \"name\": \"_to\",           \"type\": \"address\"         },         {           \"internalType\": \"uint256\",           \"name\": \"_tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"transferToken\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"_tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"getTokenMetadata\",       \"outputs\": [         {           \"components\": [             {               \"internalType\": \"uint256[]\",               \"name\": \"sourceTokenIds\",               \"type\": \"uint256[]\"             }           ],           \"internalType\": \"struct Structs.Metadata\",           \"name\": \"\",           \"type\": \"tuple\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     }   ]"},{"id":"f5dead71.a8a6","type":"sender-account","name":"Delivery 4","ethereumClient":"5e0a4060.a2534","address":"0x45d5e6F4400C80527467B51996cdbbA1742906F3","managedByEthereumClient":true,"transactionQueueSize":"100"},{"id":"2728723a.3060ae","type":"smart-contract","name":"Control Webservice","ethereumClient":"644f44bc.a699cc","address":"0xcF36e71F5AFE4d49BD9E0e1A1D2201f461a899CD","abi":"[     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"_rbacAddress\",           \"type\": \"address\"         },         {           \"internalType\": \"address\",           \"name\": \"_registryAddress\",           \"type\": \"address\"         }       ],       \"stateMutability\": \"nonpayable\",       \"type\": \"constructor\"     },     {       \"anonymous\": false,       \"inputs\": [         {           \"indexed\": false,           \"internalType\": \"uint256\",           \"name\": \"controlId\",           \"type\": \"uint256\"         },         {           \"indexed\": false,           \"internalType\": \"address\",           \"name\": \"controlledEntity\",           \"type\": \"address\"         },         {           \"indexed\": false,           \"internalType\": \"address\",           \"name\": \"controlEntity\",           \"type\": \"address\"         }       ],       \"name\": \"ControlCreated\",       \"type\": \"event\"     },     {       \"anonymous\": false,       \"inputs\": [         {           \"components\": [             {               \"internalType\": \"uint256\",               \"name\": \"controlId\",               \"type\": \"uint256\"             },             {               \"internalType\": \"uint256\",               \"name\": \"timeOfControl\",               \"type\": \"uint256\"             },             {               \"internalType\": \"enum Enums.ControlStatus\",               \"name\": \"status\",               \"type\": \"uint8\"             },             {               \"internalType\": \"address\",               \"name\": \"controlled\",               \"type\": \"address\"             },             {               \"internalType\": \"address\",               \"name\": \"controller\",               \"type\": \"address\"             }           ],           \"indexed\": false,           \"internalType\": \"struct Structs.GSEControl\",           \"name\": \"control\",           \"type\": \"tuple\"         }       ],       \"name\": \"ControlFinished\",       \"type\": \"event\"     },     {       \"anonymous\": false,       \"inputs\": [         {           \"indexed\": false,           \"internalType\": \"uint256\",           \"name\": \"controlId\",           \"type\": \"uint256\"         },         {           \"components\": [             {               \"internalType\": \"bool\",               \"name\": \"gseOK\",               \"type\": \"bool\"             },             {               \"internalType\": \"string[]\",               \"name\": \"findings\",               \"type\": \"string[]\"             }           ],           \"indexed\": false,           \"internalType\": \"struct Structs.GSEControlDetails\",           \"name\": \"findings\",           \"type\": \"tuple\"         }       ],       \"name\": \"FindingsForControlReported\",       \"type\": \"event\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"_controlled\",           \"type\": \"address\"         }       ],       \"name\": \"startControl\",       \"outputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"\",           \"type\": \"uint256\"         }       ],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"_controlId\",           \"type\": \"uint256\"         },         {           \"components\": [             {               \"internalType\": \"bool\",               \"name\": \"gseOK\",               \"type\": \"bool\"             },             {               \"internalType\": \"string[]\",               \"name\": \"findings\",               \"type\": \"string[]\"             }           ],           \"internalType\": \"struct Structs.GSEControlDetails\",           \"name\": \"_findings\",           \"type\": \"tuple\"         }       ],       \"name\": \"reportFindingsForControl\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"_controlId\",           \"type\": \"uint256\"         },         {           \"internalType\": \"bool\",           \"name\": \"_opinion\",           \"type\": \"bool\"         }       ],       \"name\": \"acknowledgeControl\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     }   ]"},{"id":"c6959d8.5adae6","type":"comment","z":"912b7fed.347f3","name":"Add a new supply chain entity","info":"","x":160,"y":60,"wires":[]},{"id":"7d8256bc.e945e8","type":"inject","z":"912b7fed.347f3","name":"Start ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":140,"wires":[["6883bfb7.a059f"]]},{"id":"6883bfb7.a059f","type":"function","z":"912b7fed.347f3","name":"","func":"// address of the entity\nconst entity_address = \"0x8e2F1147c95C6052da3463061cd8B8031f02ceE3\";\n\n// the entity itself\nconst entity =  {\n        role: 0,\n        tier: \"Responsible for deliveries\",\n        gseStatus: 0,\n        controls: [],\n        transactions: []\n    }\n    \nmsg.payload = [\n    entity_address,\n    entity\n]\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":140,"wires":[["3d845073.26366"]]},{"id":"3d845073.26366","type":"contract-call","z":"912b7fed.347f3","name":"Add Supply Chain Entity","smartContract":"cfceefd1.68b63","contractFunction":"addSupplyChainEntity","readonlyFunction":false,"senderAccount":"3c2b7df9.cd6412","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":510,"y":140,"wires":[["4b2ca978.6727a8"],[]]},{"id":"4b2ca978.6727a8","type":"debug","z":"912b7fed.347f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":120,"wires":[]},{"id":"f76bcb9.9fae038","type":"comment","z":"912b7fed.347f3","name":"Add a new control entity","info":"","x":150,"y":200,"wires":[]},{"id":"f4e19d03.86cc3","type":"inject","z":"912b7fed.347f3","name":"Start ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":280,"wires":[["e3df3830.ace9b8"]]},{"id":"e3df3830.ace9b8","type":"function","z":"912b7fed.347f3","name":"","func":"// address of the entity\nconst entity_address = \"0x9e1595E3224feda3800fD5c3C1F52Fd5BF21A163\";\n\n// the entity itself\nconst entity = {\n        role: 2,\n        description: \"Responsible for risk assessment\",\n        gseStatus: 0,\n        numberOfControls: 0\n    }\n    \nmsg.payload = [\n    entity_address,\n    entity\n]\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":280,"wires":[["1e57de13.b48922"]]},{"id":"1e57de13.b48922","type":"contract-call","z":"912b7fed.347f3","name":"Add Control entity","smartContract":"cfceefd1.68b63","contractFunction":"addControlEntity","readonlyFunction":false,"senderAccount":"3c2b7df9.cd6412","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":490,"y":280,"wires":[["22b80fbf.3e76a"],[]]},{"id":"22b80fbf.3e76a","type":"debug","z":"912b7fed.347f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":260,"wires":[]},{"id":"fee38072.f6d13","type":"comment","z":"912b7fed.347f3","name":"Get controls for an entity","info":"","x":150,"y":660,"wires":[]},{"id":"1ffbdf37.ee5481","type":"inject","z":"912b7fed.347f3","name":"Start ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":740,"wires":[["18c95c2.27e77a4"]]},{"id":"18c95c2.27e77a4","type":"function","z":"912b7fed.347f3","name":"","func":"// address of the entity\nconst entity_address = \"0xDa38E26ef4d89617A1f26179A78813869F46a5DB\";\n\nmsg.payload = entity_address;\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":740,"wires":[["7e13634.2506b9c"]]},{"id":"7e13634.2506b9c","type":"contract-call","z":"912b7fed.347f3","name":"Get Controls","smartContract":"cfceefd1.68b63","contractFunction":"getControls","readonlyFunction":true,"senderAccount":"453f541e.9f451c","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":470,"y":740,"wires":[[],["5a86feba.7c35f"]]},{"id":"5a86feba.7c35f","type":"debug","z":"912b7fed.347f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":760,"wires":[]},{"id":"25f7f541.85c76a","type":"comment","z":"912b7fed.347f3","name":"Get non gse transactions for an entity","info":"","x":190,"y":820,"wires":[]},{"id":"6732693e.8df018","type":"inject","z":"912b7fed.347f3","name":"Start ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":900,"wires":[["e30fbf43.b0f4c"]]},{"id":"e30fbf43.b0f4c","type":"function","z":"912b7fed.347f3","name":"","func":"// address of the entity\nconst entity_address = \"0x0942269301f2FD774d794D6aA7865c376511FB3E\";\n\nmsg.payload = entity_address;\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":900,"wires":[["d1ffe6ab.b2e5f8"]]},{"id":"d1ffe6ab.b2e5f8","type":"contract-call","z":"912b7fed.347f3","name":"Get NonGSES Transactions","smartContract":"cfceefd1.68b63","contractFunction":"getNonGSETransactions","readonlyFunction":true,"senderAccount":"453f541e.9f451c","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":520,"y":900,"wires":[[],["d89ca5d5.012e38"]]},{"id":"d89ca5d5.012e38","type":"debug","z":"912b7fed.347f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":900,"wires":[]},{"id":"def24ed4.c0b4f","type":"comment","z":"da595f15.cb322","name":"Add a new role to an entity","info":"","x":150,"y":80,"wires":[]},{"id":"1df8acfa.8f6fd3","type":"inject","z":"da595f15.cb322","name":"Start ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":160,"wires":[["caf11a14.2c4258"]]},{"id":"caf11a14.2c4258","type":"function","z":"da595f15.cb322","name":"","func":"// address of the entity\nconst entity_address = \"0x443007D52e3E285E54FD2F470aaDFFCF7d76A195\";\nconst role = \"MINTER\";\n\n    \nmsg.payload = [\n    entity_address,\n    role\n]\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":160,"wires":[["a459c4e6.fbd9a8"]]},{"id":"a459c4e6.fbd9a8","type":"contract-call","z":"da595f15.cb322","name":"Add role to entity","smartContract":"b95be0a1.0f62f","contractFunction":"addMember","readonlyFunction":false,"senderAccount":"453f541e.9f451c","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":490,"y":160,"wires":[["e147f31f.fced3"],[]]},{"id":"e147f31f.fced3","type":"debug","z":"da595f15.cb322","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":140,"wires":[]},{"id":"293e525f.1831be","type":"comment","z":"912b7fed.347f3","name":"Acknowledge \"Grundsatzerklrung\"","info":"","x":180,"y":980,"wires":[]},{"id":"7e74c9d3.d26968","type":"contract-call","z":"912b7fed.347f3","name":"GSE OK","smartContract":"cfceefd1.68b63","contractFunction":"acknowledgeGSE","readonlyFunction":false,"senderAccount":"40346123.01e53","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":300,"y":1060,"wires":[["ad6a1fbd.4652e"],[]]},{"id":"ad6a1fbd.4652e","type":"debug","z":"912b7fed.347f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":1060,"wires":[]},{"id":"9abbdc59.f0801","type":"inject","z":"912b7fed.347f3","name":"Start ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1060,"wires":[["7e74c9d3.d26968"]]},{"id":"1b0fb385.21effc","type":"comment","z":"912b7fed.347f3","name":"Get a control entity","info":"","x":130,"y":500,"wires":[]},{"id":"ae27205f.d1df4","type":"inject","z":"912b7fed.347f3","name":"Start ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":580,"wires":[["ff598894.e32a58"]]},{"id":"ff598894.e32a58","type":"function","z":"912b7fed.347f3","name":"","func":"// address of the entity\nconst entity_address = \"0x9e1595E3224feda3800fD5c3C1F52Fd5BF21A163\";\n    \nmsg.payload = entity_address;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":580,"wires":[["e02ee162.c0937"]]},{"id":"e02ee162.c0937","type":"contract-call","z":"912b7fed.347f3","name":"Get Control Entity","smartContract":"cfceefd1.68b63","contractFunction":"getControlentity","readonlyFunction":true,"senderAccount":"3c2b7df9.cd6412","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":490,"y":580,"wires":[[],["e00bc7ff.193748"]]},{"id":"e00bc7ff.193748","type":"debug","z":"912b7fed.347f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":560,"wires":[]},{"id":"5d5c22bd.59c08c","type":"comment","z":"912b7fed.347f3","name":"Get a supply chain entity","info":"","x":150,"y":360,"wires":[]},{"id":"165f99cf.08be96","type":"inject","z":"912b7fed.347f3","name":"Start ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":440,"wires":[["d0031136.311c7"]]},{"id":"d0031136.311c7","type":"function","z":"912b7fed.347f3","name":"","func":"// address of the entity\nconst entity_address = \"0xDa38E26ef4d89617A1f26179A78813869F46a5DB\";\n    \nmsg.payload = entity_address;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":440,"wires":[["7c27184.35724e8"]]},{"id":"7c27184.35724e8","type":"contract-call","z":"912b7fed.347f3","name":"Get Supply Chain Entity","smartContract":"cfceefd1.68b63","contractFunction":"getSupplyChainEntity","readonlyFunction":true,"senderAccount":"3c2b7df9.cd6412","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":510,"y":440,"wires":[[],["3c2605d8.91f6fa"]]},{"id":"3c2605d8.91f6fa","type":"debug","z":"912b7fed.347f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":420,"wires":[]},{"id":"9cbc2832.0a65e8","type":"event-listener","z":"70d08aca.cc6fc4","name":"Token Transfer Event","smartContract":"ff86aa35.46a0a8","contractEvent":"TokenTransfer","filter":"","x":150,"y":120,"wires":[["4e4732b8.964e7c"]]},{"id":"4e4732b8.964e7c","type":"debug","z":"70d08aca.cc6fc4","name":"Event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"summary.eventData","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":120,"wires":[]},{"id":"f7282b76.be37c8","type":"comment","z":"70d08aca.cc6fc4","name":"Listening for Token Transfer Events","info":"","x":200,"y":60,"wires":[]},{"id":"cd31dea.5c66f2","type":"comment","z":"70d08aca.cc6fc4","name":"Mint a new Token (Producer 1)","info":"","x":180,"y":440,"wires":[]},{"id":"74171ede.03ca9","type":"contract-call","z":"70d08aca.cc6fc4","name":"Mint Token","smartContract":"4616027d.7fc57c","contractFunction":"mintToken","readonlyFunction":true,"senderAccount":"40346123.01e53","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":510,"y":500,"wires":[[],["14f02edb.ad05c1"]]},{"id":"4c593c7e.52c4e4","type":"function","z":"70d08aca.cc6fc4","name":"","func":"let owner_address = \"0xDa38E26ef4d89617A1f26179A78813869F46a5DB\";\n\nlet token_metadata = {\n        sourceTokenIds: []\n    }\n    \nmsg.payload = [\n    owner_address,\n    token_metadata\n    ]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":500,"wires":[["74171ede.03ca9","2322bfb6.a1948"]]},{"id":"cbc9c63d.a80f78","type":"inject","z":"70d08aca.cc6fc4","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":500,"wires":[["4c593c7e.52c4e4"]]},{"id":"14f02edb.ad05c1","type":"debug","z":"70d08aca.cc6fc4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":500,"wires":[]},{"id":"48d56050.47375","type":"comment","z":"70d08aca.cc6fc4","name":"Get Token Metadata","info":"","x":150,"y":220,"wires":[]},{"id":"6ef8565b.0720b8","type":"contract-call","z":"70d08aca.cc6fc4","name":"Get Token Metadata","smartContract":"4616027d.7fc57c","contractFunction":"getTokenMetadata","readonlyFunction":true,"senderAccount":"40346123.01e53","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":540,"y":280,"wires":[[],["5c4836bf.9dd988"]]},{"id":"bd0be336.90807","type":"function","z":"70d08aca.cc6fc4","name":"","func":"let token_id = 35;\n\nmsg.payload = token_id;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":280,"wires":[["6ef8565b.0720b8"]]},{"id":"be3ec4db.dbf1f8","type":"inject","z":"70d08aca.cc6fc4","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":280,"wires":[["bd0be336.90807"]]},{"id":"5c4836bf.9dd988","type":"debug","z":"70d08aca.cc6fc4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":280,"wires":[]},{"id":"1f1a8edb.098541","type":"comment","z":"70d08aca.cc6fc4","name":"Mint a new Token (Producer 2)","info":"","x":180,"y":600,"wires":[]},{"id":"629985d4.4d127c","type":"contract-call","z":"70d08aca.cc6fc4","name":"Mint Token","smartContract":"4616027d.7fc57c","contractFunction":"mintToken","readonlyFunction":true,"senderAccount":"9af73fc5.27648","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":510,"y":660,"wires":[[],["ab6aa2ca.c05db"]]},{"id":"2b0528ad.e135c8","type":"function","z":"70d08aca.cc6fc4","name":"","func":"let owner_address = \"0xF18Cd3C0Fc23dfB6A17539352dAB870AfD461904\";\n\nlet token_metadata = {\n        sourceTokenIds: []\n    }\n    \nmsg.payload = [\n    owner_address,\n    token_metadata\n    ]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":660,"wires":[["629985d4.4d127c","3a418317.8504bc"]]},{"id":"e55a0959.a7a7b8","type":"inject","z":"70d08aca.cc6fc4","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":660,"wires":[["2b0528ad.e135c8"]]},{"id":"ab6aa2ca.c05db","type":"debug","z":"70d08aca.cc6fc4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":660,"wires":[]},{"id":"88caafa0.28d2a","type":"comment","z":"70d08aca.cc6fc4","name":"Mint a new Token (Producer 3)","info":"","x":180,"y":760,"wires":[]},{"id":"716c0e54.ba70b","type":"contract-call","z":"70d08aca.cc6fc4","name":"Mint Token","smartContract":"4616027d.7fc57c","contractFunction":"mintToken","readonlyFunction":true,"senderAccount":"da3e94cf.0ebf68","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":510,"y":820,"wires":[[],["762d685.62f3e98"]]},{"id":"6d96bd28.f32994","type":"function","z":"70d08aca.cc6fc4","name":"","func":"let owner_address = \"0x0942269301f2FD774d794D6aA7865c376511FB3E\";\n\nlet token_metadata = {\n        sourceTokenIds: []\n    }\n    \nmsg.payload = [\n    owner_address,\n    token_metadata\n    ]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":820,"wires":[["716c0e54.ba70b","2dd7bdd6.9017e2"]]},{"id":"28c16269.4efd7e","type":"inject","z":"70d08aca.cc6fc4","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":820,"wires":[["6d96bd28.f32994"]]},{"id":"762d685.62f3e98","type":"debug","z":"70d08aca.cc6fc4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":820,"wires":[]},{"id":"50ad02fe.cc967c","type":"comment","z":"70d08aca.cc6fc4","name":"Mint a new Token (Producer 4)","info":"","x":180,"y":900,"wires":[]},{"id":"db50f719.62c028","type":"contract-call","z":"70d08aca.cc6fc4","name":"Mint Token","smartContract":"4616027d.7fc57c","contractFunction":"mintToken","readonlyFunction":true,"senderAccount":"918f0636.0af928","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":510,"y":960,"wires":[[],["c494cdb7.fde72"]]},{"id":"a15ccc55.a19c2","type":"function","z":"70d08aca.cc6fc4","name":"","func":"let owner_address = \"0x860D9b0868f498a7A107430929466246Dec92Efd\";\n\nlet token_metadata = {\n        sourceTokenIds: []\n    }\n    \nmsg.payload = [\n    owner_address,\n    token_metadata\n    ]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":960,"wires":[["db50f719.62c028","9e87f060.4d3cd"]]},{"id":"be293388.8c42a","type":"inject","z":"70d08aca.cc6fc4","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":960,"wires":[["a15ccc55.a19c2"]]},{"id":"c494cdb7.fde72","type":"debug","z":"70d08aca.cc6fc4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":960,"wires":[]},{"id":"44c3e1fa.8a0a6","type":"comment","z":"70d08aca.cc6fc4","name":"Simulate the supply chain","info":"","x":180,"y":1120,"wires":[]},{"id":"3a51947d.ce243c","type":"comment","z":"d030065a.a56a98","name":"Start Control for Entity","info":"","x":160,"y":540,"wires":[]},{"id":"7ff339bc.b8f7e8","type":"inject","z":"d030065a.a56a98","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":600,"wires":[["c869a5d9.b20a38"]]},{"id":"ef7ea1f0.f269f","type":"contract-call","z":"d030065a.a56a98","name":"Start Control","smartContract":"ba696207.34e7","contractFunction":"startControl","readonlyFunction":false,"senderAccount":"7425b38c.c145fc","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":530,"y":600,"wires":[[],[]]},{"id":"c869a5d9.b20a38","type":"function","z":"d030065a.a56a98","name":"","func":"let controlled = \"0x0942269301f2FD774d794D6aA7865c376511FB3E\";\n\nmsg.payload = controlled;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":600,"wires":[["ef7ea1f0.f269f"]]},{"id":"aef51eed.6e144","type":"comment","z":"d030065a.a56a98","name":"Listen for Control Created Event","info":"","x":210,"y":100,"wires":[]},{"id":"1b60aa78.6d7f76","type":"event-listener","z":"d030065a.a56a98","name":"Control Created Event","smartContract":"2728723a.3060ae","contractEvent":"ControlCreated","filter":"","x":190,"y":160,"wires":[["68eaffa2.82186"]]},{"id":"68eaffa2.82186","type":"debug","z":"d030065a.a56a98","name":"Event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"summary.eventData","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":160,"wires":[]},{"id":"e3726a41.51a0b8","type":"comment","z":"d030065a.a56a98","name":"Report Findings for Control","info":"","x":170,"y":680,"wires":[]},{"id":"75ce4172.8ae3f","type":"inject","z":"d030065a.a56a98","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":740,"wires":[["4cdee993.ff3e68"]]},{"id":"f0b6e4cc.245288","type":"contract-call","z":"d030065a.a56a98","name":"Report Findings","smartContract":"ba696207.34e7","contractFunction":"reportFindingsForControl","readonlyFunction":false,"senderAccount":"a0ac8fae.a9d13","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":540,"y":740,"wires":[[],[]]},{"id":"4cdee993.ff3e68","type":"function","z":"d030065a.a56a98","name":"","func":"let controlId = 4;\nlet findings = {\n        gseOK:1,\n        findings: [\"Everything ok\"]\n    }\n\nmsg.payload = [\n    controlId,\n    findings\n    ]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":740,"wires":[["f0b6e4cc.245288"]]},{"id":"c912723e.fd21c","type":"comment","z":"d030065a.a56a98","name":"Listen for Findings Reported Event","info":"","x":210,"y":240,"wires":[]},{"id":"59ec031a.95657c","type":"event-listener","z":"d030065a.a56a98","name":"Findings Reported Event","smartContract":"2728723a.3060ae","contractEvent":"FindingsForControlReported","filter":"","x":190,"y":300,"wires":[["a3901867.38b238"]]},{"id":"a3901867.38b238","type":"debug","z":"d030065a.a56a98","name":"Event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"summary.eventData","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":300,"wires":[]},{"id":"9f7eb1e2.4091d","type":"comment","z":"d030065a.a56a98","name":"Acknowledge Control","info":"","x":160,"y":820,"wires":[]},{"id":"a3d6b0a0.ce0af","type":"inject","z":"d030065a.a56a98","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":880,"wires":[["a863148d.08f868"]]},{"id":"4ded7ee3.3cd63","type":"contract-call","z":"d030065a.a56a98","name":"Acknowledge Control","smartContract":"ba696207.34e7","contractFunction":"acknowledgeControl","readonlyFunction":false,"senderAccount":"9af73fc5.27648","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":560,"y":880,"wires":[[],[]]},{"id":"a863148d.08f868","type":"function","z":"d030065a.a56a98","name":"","func":"let controlId = 1;\nlet opinion = 1;\n\nmsg.payload = [\n    controlId,\n    opinion\n    ]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":880,"wires":[["4ded7ee3.3cd63"]]},{"id":"4fa2434c.eb2e1c","type":"comment","z":"d030065a.a56a98","name":"Listen for Control Finished Event","info":"","x":200,"y":360,"wires":[]},{"id":"32c36c59.a59d34","type":"event-listener","z":"d030065a.a56a98","name":"Control Finished Event","smartContract":"2728723a.3060ae","contractEvent":"ControlFinished","filter":"","x":180,"y":420,"wires":[["44004e73.7ebf6"]]},{"id":"44004e73.7ebf6","type":"debug","z":"d030065a.a56a98","name":"Event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"summary.eventData","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":420,"wires":[]},{"id":"d2fcfb7.c3a0308","type":"comment","z":"912b7fed.347f3","name":"Get all controls for an entity","info":"","x":160,"y":1200,"wires":[]},{"id":"e0e12895.9cfd18","type":"inject","z":"912b7fed.347f3","name":"Start ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1280,"wires":[["907f4cfb.d33ab"]]},{"id":"907f4cfb.d33ab","type":"function","z":"912b7fed.347f3","name":"","func":"// address of the entity\nconst entity_address = \"0x0942269301f2FD774d794D6aA7865c376511FB3E\";\n\nmsg.payload = entity_address;\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":1280,"wires":[["ad846f5.815d99"]]},{"id":"ad846f5.815d99","type":"contract-call","z":"912b7fed.347f3","name":"Get Controls","smartContract":"cfceefd1.68b63","contractFunction":"getControls","readonlyFunction":true,"senderAccount":"453f541e.9f451c","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":470,"y":1280,"wires":[[],["3e8225dd.605a4a"]]},{"id":"3e8225dd.605a4a","type":"split","z":"912b7fed.347f3","name":"Split Control Ids","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":680,"y":1280,"wires":[["118720e1.1526ef"]]},{"id":"f9b5abac.f13828","type":"debug","z":"912b7fed.347f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":1280,"wires":[]},{"id":"3dc75acd.4c75f6","type":"contract-call","z":"912b7fed.347f3","name":"Get control","smartContract":"cfceefd1.68b63","contractFunction":"getControl","readonlyFunction":true,"senderAccount":"","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":1070,"y":1280,"wires":[[],["f9b5abac.f13828"]]},{"id":"118720e1.1526ef","type":"function","z":"912b7fed.347f3","name":"","func":"let controlId = msg.payload;\n\nmsg.payload = controlId;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":1280,"wires":[["3dc75acd.4c75f6"]]},{"id":"be711f1c.8d2d9","type":"comment","z":"912b7fed.347f3","name":"Get all Non GSE Transactions for an entity","info":"","x":200,"y":1400,"wires":[]},{"id":"f351b62e.63d518","type":"inject","z":"912b7fed.347f3","name":"Start ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1480,"wires":[["2be2c2ce.58b7de"]]},{"id":"2be2c2ce.58b7de","type":"function","z":"912b7fed.347f3","name":"","func":"// address of the entity\nconst entity_address = \"0x8e2F1147c95C6052da3463061cd8B8031f02ceE3\";\n\nmsg.payload = entity_address;\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":1480,"wires":[["a62b32fd.8a296"]]},{"id":"a62b32fd.8a296","type":"contract-call","z":"912b7fed.347f3","name":"Get Transactions","smartContract":"cfceefd1.68b63","contractFunction":"getNonGSETransactions","readonlyFunction":true,"senderAccount":"453f541e.9f451c","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":470,"y":1480,"wires":[[],["ef09c8c5.91f2a8"]]},{"id":"ef09c8c5.91f2a8","type":"split","z":"912b7fed.347f3","name":"Split Transaction Ids","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":700,"y":1480,"wires":[["c37f0119.89a2c"]]},{"id":"bae6a141.e6011","type":"contract-call","z":"912b7fed.347f3","name":"Get transaction","smartContract":"cfceefd1.68b63","contractFunction":"getNonGSETransaction","readonlyFunction":true,"senderAccount":"","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":1080,"y":1480,"wires":[[],["e03d5dbe.6f547"]]},{"id":"c37f0119.89a2c","type":"function","z":"912b7fed.347f3","name":"","func":"let transactionId = msg.payload;\n\nmsg.payload = transactionId;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1480,"wires":[["bae6a141.e6011"]]},{"id":"703488b5.6a3f18","type":"comment","z":"d030065a.a56a98","name":"Automate control after creation ","info":"","x":190,"y":1060,"wires":[]},{"id":"ff4c76df.5e7118","type":"event-listener","z":"d030065a.a56a98","name":"Control Created Event","smartContract":"2728723a.3060ae","contractEvent":"ControlCreated","filter":"","x":160,"y":1140,"wires":[["2a9f9e6b.74dcc2"]]},{"id":"2a9f9e6b.74dcc2","type":"function","z":"d030065a.a56a98","name":"","func":"let eventData = msg.summary.eventData.returnValues;\n\nlet controlId = eventData[0];\n\nlet findings = {\n        gseOK:1,\n        findings: [\"Everything ok\"]\n    }\n\nmsg.payload = [\n    controlId,\n    findings\n    ]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1140,"wires":[["6eed0574.c8c96c"]]},{"id":"6eed0574.c8c96c","type":"contract-call","z":"d030065a.a56a98","name":"Report Findings","smartContract":"ba696207.34e7","contractFunction":"reportFindingsForControl","readonlyFunction":false,"senderAccount":"7425b38c.c145fc","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":600,"y":1140,"wires":[[],[]]},{"id":"403f07d8.191e88","type":"event-listener","z":"d030065a.a56a98","name":"Findings Reported Event","smartContract":"2728723a.3060ae","contractEvent":"FindingsForControlReported","filter":"","x":170,"y":1220,"wires":[["a278effb.7aab4"]]},{"id":"a278effb.7aab4","type":"function","z":"d030065a.a56a98","name":"","func":"let eventData = msg.summary.eventData.returnValues;\nlet controlId = eventData[0];\n\nlet opinion = 1;\n\nmsg.payload = [\n    controlId,\n    opinion\n    ]\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1220,"wires":[["474322f6.a834ec"]]},{"id":"474322f6.a834ec","type":"contract-call","z":"d030065a.a56a98","name":"Acknowledge Control","smartContract":"ba696207.34e7","contractFunction":"acknowledgeControl","readonlyFunction":false,"senderAccount":"da3e94cf.0ebf68","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":600,"y":1220,"wires":[[],[]]},{"id":"2322bfb6.a1948","type":"contract-call","z":"70d08aca.cc6fc4","name":"Mint Token","smartContract":"4616027d.7fc57c","contractFunction":"mintToken","readonlyFunction":false,"senderAccount":"40346123.01e53","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":510,"y":560,"wires":[[],[]]},{"id":"3a418317.8504bc","type":"contract-call","z":"70d08aca.cc6fc4","name":"Mint Token","smartContract":"4616027d.7fc57c","contractFunction":"mintToken","readonlyFunction":false,"senderAccount":"9af73fc5.27648","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":510,"y":720,"wires":[[],[]]},{"id":"2dd7bdd6.9017e2","type":"contract-call","z":"70d08aca.cc6fc4","name":"Mint Token","smartContract":"4616027d.7fc57c","contractFunction":"mintToken","readonlyFunction":false,"senderAccount":"da3e94cf.0ebf68","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":510,"y":880,"wires":[[],[]]},{"id":"9e87f060.4d3cd","type":"contract-call","z":"70d08aca.cc6fc4","name":"Mint Token","smartContract":"4616027d.7fc57c","contractFunction":"mintToken","readonlyFunction":false,"senderAccount":"918f0636.0af928","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":510,"y":1020,"wires":[[],[]]},{"id":"ef588255.80231","type":"contract-call","z":"70d08aca.cc6fc4","name":"Mint Token","smartContract":"4616027d.7fc57c","contractFunction":"mintToken","readonlyFunction":true,"senderAccount":"40346123.01e53","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":510,"y":1180,"wires":[[],["840146ff.648258"]]},{"id":"494f63c8.7c112c","type":"function","z":"70d08aca.cc6fc4","name":"","func":"let owner_address = \"0xDa38E26ef4d89617A1f26179A78813869F46a5DB\";\n\nlet token_metadata = {\n        sourceTokenIds: []\n    }\n    \nmsg.payload = [\n    owner_address,\n    token_metadata\n    ]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1180,"wires":[["ef588255.80231","d73c2887.eb8978"]]},{"id":"78b571bd.ccd0f","type":"inject","z":"70d08aca.cc6fc4","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":1180,"wires":[["494f63c8.7c112c"]]},{"id":"d73c2887.eb8978","type":"contract-call","z":"70d08aca.cc6fc4","name":"Mint Token","smartContract":"4616027d.7fc57c","contractFunction":"mintToken","readonlyFunction":false,"senderAccount":"40346123.01e53","onlyEstimateGas":false,"useEstimatedGasLimit":false,"gasLimit":"6721975","usePreviousBlocksGasPrice":true,"gasPrice":"","x":510,"y":1240,"wires":[["840146ff.648258"],[]]},{"id":"5274788a.9fbba8","type":"contract-call","z":"70d08aca.cc6fc4","name":"Mint Token","smartContract":"4616027d.7fc57c","contractFunction":"mintToken","readonlyFunction":true,"senderAccount":"9af73fc5.27648","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":350,"y":1540,"wires":[[],["efe22bd1.a215f8"]]},{"id":"d91d7c1b.fa03e","type":"function","z":"70d08aca.cc6fc4","name":"","func":"let owner_address = \"0xF18Cd3C0Fc23dfB6A17539352dAB870AfD461904\";\n\nlet token_metadata = {\n        sourceTokenIds: [msg.payload[0][2]]\n    }\n    \nmsg.payload = [\n    owner_address,\n    token_metadata\n    ]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":1540,"wires":[["5274788a.9fbba8","bfacc5e9.c2d5c8"]]},{"id":"bfacc5e9.c2d5c8","type":"contract-call","z":"70d08aca.cc6fc4","name":"Mint Token","smartContract":"4616027d.7fc57c","contractFunction":"mintToken","readonlyFunction":false,"senderAccount":"9af73fc5.27648","onlyEstimateGas":false,"useEstimatedGasLimit":false,"gasLimit":"6721975","usePreviousBlocksGasPrice":true,"gasPrice":"","x":350,"y":1600,"wires":[["efe22bd1.a215f8"],[]]},{"id":"840146ff.648258","type":"join","z":"70d08aca.cc6fc4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":1220,"wires":[["2f7d072b.9827a8"]]},{"id":"2f7d072b.9827a8","type":"function","z":"70d08aca.cc6fc4","name":"","func":"let payload = msg.payload;    \nlet tokenId;\n    \n    for (let index = 0; index < payload.length; index++) {\n      if(payload[index].charAt(0) != \"0\"){\n          tokenId = payload[index];\n      }\n    }\n    \nmsg.payload = [\n    \"0xDa38E26ef4d89617A1f26179A78813869F46a5DB\",\n    \"0xb994cceE6bbFfb539C846F80f83d5e626017F909\",\n    tokenId\n]\n\nmsg.senderAccount = \"Producer 1\";\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":1340,"wires":[["d3fd24c6.5b7888","fa89b214.e9815"]]},{"id":"d3fd24c6.5b7888","type":"contract-call","z":"70d08aca.cc6fc4","name":"Transfer Token (P1 to D1)","smartContract":"4616027d.7fc57c","contractFunction":"transferToken","readonlyFunction":false,"senderAccount":"","onlyEstimateGas":false,"useEstimatedGasLimit":false,"gasLimit":"6721975","usePreviousBlocksGasPrice":true,"gasPrice":"","x":350,"y":1340,"wires":[["fa89b214.e9815"],[]]},{"id":"efe22bd1.a215f8","type":"join","z":"70d08aca.cc6fc4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":1580,"wires":[["35c8527f.8727fe"]]},{"id":"3936fbd5.e133c4","type":"contract-call","z":"70d08aca.cc6fc4","name":"Transfer Token (D1 to P2)","smartContract":"4616027d.7fc57c","contractFunction":"transferToken","readonlyFunction":false,"senderAccount":"","onlyEstimateGas":false,"useEstimatedGasLimit":false,"gasLimit":"6721975","usePreviousBlocksGasPrice":true,"gasPrice":"","x":750,"y":1420,"wires":[[],["37678b98.827874"]]},{"id":"b616b7c9.f59698","type":"function","z":"70d08aca.cc6fc4","name":"","func":"msg.payload = [\n    \"0xb994cceE6bbFfb539C846F80f83d5e626017F909\",\n    \"0xF18Cd3C0Fc23dfB6A17539352dAB870AfD461904\",\n    msg.payload[0][2]\n];\n\nmsg.senderAccount = \"Delivery 1\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1420,"wires":[["3936fbd5.e133c4","37678b98.827874"]]},{"id":"fa89b214.e9815","type":"join","z":"70d08aca.cc6fc4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":390,"y":1420,"wires":[["b616b7c9.f59698"]]},{"id":"35c8527f.8727fe","type":"function","z":"70d08aca.cc6fc4","name":"","func":"let payload = msg.payload;    \nlet tokenId;\n    \n    for (let index = 0; index < payload.length; index++) {\n      if(payload[index].charAt(0) != \"0\"){\n          tokenId = payload[index];\n      }\n    }\n    \nmsg.payload = [\n    \"0xF18Cd3C0Fc23dfB6A17539352dAB870AfD461904\",\n    \"0x81442782A1dBd97030bD1b95899186812dc8433A\",\n    tokenId\n]\n\nmsg.senderAccount = \"Producer 2\";\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":100,"y":1680,"wires":[["1ad01c55.d8c564","796550a2.30d09"]]},{"id":"1ad01c55.d8c564","type":"contract-call","z":"70d08aca.cc6fc4","name":"Transfer Token (P2 to D2)","smartContract":"4616027d.7fc57c","contractFunction":"transferToken","readonlyFunction":false,"senderAccount":"","onlyEstimateGas":false,"useEstimatedGasLimit":false,"gasLimit":"6721975","usePreviousBlocksGasPrice":true,"gasPrice":"","x":330,"y":1680,"wires":[["796550a2.30d09"],[]]},{"id":"57cfc0f2.5762e","type":"contract-call","z":"70d08aca.cc6fc4","name":"Transfer Token (D2 to P3)","smartContract":"4616027d.7fc57c","contractFunction":"transferToken","readonlyFunction":false,"senderAccount":"","onlyEstimateGas":false,"useEstimatedGasLimit":false,"gasLimit":"6721975","usePreviousBlocksGasPrice":true,"gasPrice":"","x":730,"y":1760,"wires":[["8dc47f4c.6cc49"],[]]},{"id":"7e7f9e67.42491","type":"function","z":"70d08aca.cc6fc4","name":"","func":"msg.payload = [\n    \"0x81442782A1dBd97030bD1b95899186812dc8433A\",\n    \"0x0942269301f2FD774d794D6aA7865c376511FB3E\",\n    msg.payload[0][2]\n];\n\nmsg.senderAccount = \"Delivery 2\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1760,"wires":[["57cfc0f2.5762e","8dc47f4c.6cc49"]]},{"id":"796550a2.30d09","type":"join","z":"70d08aca.cc6fc4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":1760,"wires":[["7e7f9e67.42491"]]},{"id":"37678b98.827874","type":"join","z":"70d08aca.cc6fc4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":1480,"wires":[["d91d7c1b.fa03e"]]},{"id":"50217032.8b065","type":"contract-call","z":"70d08aca.cc6fc4","name":"Mint Token","smartContract":"4616027d.7fc57c","contractFunction":"mintToken","readonlyFunction":true,"senderAccount":"9af73fc5.27648","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":330,"y":1900,"wires":[[],["f0f7ffe.fe649"]]},{"id":"52410699.a8f828","type":"function","z":"70d08aca.cc6fc4","name":"","func":"let owner_address = \"0x0942269301f2FD774d794D6aA7865c376511FB3E\";\n\nlet token_metadata = {\n        sourceTokenIds: [msg.payload[0][2]]\n    }\n    \nmsg.payload = [\n    owner_address,\n    token_metadata\n    ]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":100,"y":1900,"wires":[["50217032.8b065","a248bb40.af50d8"]]},{"id":"a248bb40.af50d8","type":"contract-call","z":"70d08aca.cc6fc4","name":"Mint Token","smartContract":"4616027d.7fc57c","contractFunction":"mintToken","readonlyFunction":false,"senderAccount":"da3e94cf.0ebf68","onlyEstimateGas":false,"useEstimatedGasLimit":false,"gasLimit":"6721975","usePreviousBlocksGasPrice":true,"gasPrice":"","x":330,"y":1960,"wires":[["f0f7ffe.fe649"],[]]},{"id":"f0f7ffe.fe649","type":"join","z":"70d08aca.cc6fc4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":1940,"wires":[["f4cd4cb3.20f"]]},{"id":"f4cd4cb3.20f","type":"function","z":"70d08aca.cc6fc4","name":"","func":"let payload = msg.payload;    \nlet tokenId;\n    \n    for (let index = 0; index < payload.length; index++) {\n      if(payload[index].charAt(0) != \"0\"){\n          tokenId = payload[index];\n      }\n    }\n    \nmsg.payload = [\n    \"0x0942269301f2FD774d794D6aA7865c376511FB3E\",\n    \"0x8e2F1147c95C6052da3463061cd8B8031f02ceE3\",\n    tokenId\n]\n\nmsg.senderAccount = \"Producer 3\";\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":80,"y":2040,"wires":[["a2567e4.c42d78","f9edc736.11c2a8"]]},{"id":"a2567e4.c42d78","type":"contract-call","z":"70d08aca.cc6fc4","name":"Transfer Token (P3 to D3)","smartContract":"4616027d.7fc57c","contractFunction":"transferToken","readonlyFunction":false,"senderAccount":"","onlyEstimateGas":false,"useEstimatedGasLimit":false,"gasLimit":"6721975","usePreviousBlocksGasPrice":true,"gasPrice":"","x":310,"y":2040,"wires":[["f9edc736.11c2a8"],[]]},{"id":"b33cc69b.f5e8a8","type":"contract-call","z":"70d08aca.cc6fc4","name":"Transfer Token (D3 to P4)","smartContract":"4616027d.7fc57c","contractFunction":"transferToken","readonlyFunction":false,"senderAccount":"","onlyEstimateGas":false,"useEstimatedGasLimit":false,"gasLimit":"6721975","usePreviousBlocksGasPrice":true,"gasPrice":"","x":710,"y":2120,"wires":[["9abd2783.bcd5b8"],[]]},{"id":"d1d4e8d1.c85528","type":"function","z":"70d08aca.cc6fc4","name":"","func":"msg.payload = [\n    \"0x8e2F1147c95C6052da3463061cd8B8031f02ceE3\",\n    \"0x860D9b0868f498a7A107430929466246Dec92Efd\",\n    msg.payload[0][2]\n];\n\nmsg.senderAccount = \"Delivery 3\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":2120,"wires":[["b33cc69b.f5e8a8","9abd2783.bcd5b8"]]},{"id":"f9edc736.11c2a8","type":"join","z":"70d08aca.cc6fc4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":350,"y":2120,"wires":[["d1d4e8d1.c85528"]]},{"id":"8dc47f4c.6cc49","type":"join","z":"70d08aca.cc6fc4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1840,"wires":[["52410699.a8f828"]]},{"id":"5142a054.f1fc2","type":"contract-call","z":"70d08aca.cc6fc4","name":"Mint Token","smartContract":"4616027d.7fc57c","contractFunction":"mintToken","readonlyFunction":true,"senderAccount":"9af73fc5.27648","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","x":350,"y":2280,"wires":[[],["1d572eb.117cbd1"]]},{"id":"2ac8bdc5.447d92","type":"function","z":"70d08aca.cc6fc4","name":"","func":"let owner_address = \"0x860D9b0868f498a7A107430929466246Dec92Efd\";\n\nlet token_metadata = {\n        sourceTokenIds: [msg.payload[0][2]]\n    }\n    \nmsg.payload = [\n    owner_address,\n    token_metadata\n    ]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":2280,"wires":[["5142a054.f1fc2","5e145c4b.dee3c4"]]},{"id":"5e145c4b.dee3c4","type":"contract-call","z":"70d08aca.cc6fc4","name":"Mint Token","smartContract":"4616027d.7fc57c","contractFunction":"mintToken","readonlyFunction":false,"senderAccount":"918f0636.0af928","onlyEstimateGas":false,"useEstimatedGasLimit":false,"gasLimit":"6721975","usePreviousBlocksGasPrice":true,"gasPrice":"","x":350,"y":2340,"wires":[["1d572eb.117cbd1"],[]]},{"id":"1d572eb.117cbd1","type":"join","z":"70d08aca.cc6fc4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":2320,"wires":[["6ecaaa62.a88b94"]]},{"id":"6ecaaa62.a88b94","type":"function","z":"70d08aca.cc6fc4","name":"","func":"let payload = msg.payload;    \nlet tokenId;\n    \n    for (let index = 0; index < payload.length; index++) {\n      if(payload[index].charAt(0) != \"0\"){\n          tokenId = payload[index];\n      }\n    }\n    \nmsg.payload = [\n    \"0x860D9b0868f498a7A107430929466246Dec92Efd\",\n    \"0x45d5e6F4400C80527467B51996cdbbA1742906F3\",\n    tokenId\n]\n\nmsg.senderAccount = \"Producer 4\";\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":100,"y":2420,"wires":[["d088bf7f.5e18","62607163.04bc6"]]},{"id":"d088bf7f.5e18","type":"contract-call","z":"70d08aca.cc6fc4","name":"Transfer Token (P4 to D4)","smartContract":"4616027d.7fc57c","contractFunction":"transferToken","readonlyFunction":false,"senderAccount":"","onlyEstimateGas":false,"useEstimatedGasLimit":false,"gasLimit":"6721975","usePreviousBlocksGasPrice":true,"gasPrice":"","x":330,"y":2420,"wires":[["62607163.04bc6"],[]]},{"id":"ea2524a8.e4b818","type":"contract-call","z":"70d08aca.cc6fc4","name":"Transfer Token (D4 to P5)","smartContract":"4616027d.7fc57c","contractFunction":"transferToken","readonlyFunction":false,"senderAccount":"","onlyEstimateGas":false,"useEstimatedGasLimit":false,"gasLimit":"6721975","usePreviousBlocksGasPrice":true,"gasPrice":"","x":730,"y":2500,"wires":[[],[]]},{"id":"3976b208.7cf2be","type":"function","z":"70d08aca.cc6fc4","name":"","func":"msg.payload = [\n    \"0x45d5e6F4400C80527467B51996cdbbA1742906F3\",\n    \"0x659d783F5a1d2Aa7234589D078a37Dcc7d0C6DA2\",\n    msg.payload[0][2]\n];\n\nmsg.senderAccount = \"Delivery 4\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":2500,"wires":[["ea2524a8.e4b818"]]},{"id":"62607163.04bc6","type":"join","z":"70d08aca.cc6fc4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":2500,"wires":[["3976b208.7cf2be"]]},{"id":"9abd2783.bcd5b8","type":"join","z":"70d08aca.cc6fc4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":2220,"wires":[["2ac8bdc5.447d92"]]},{"id":"f121f940.1845d8","type":"event-listener","z":"70d08aca.cc6fc4","name":"Token Transfer Event","smartContract":"ff86aa35.46a0a8","contractEvent":"NonGSETransaction","filter":"","x":710,"y":120,"wires":[["a46e7aa8.ade0f8"]]},{"id":"a46e7aa8.ade0f8","type":"debug","z":"70d08aca.cc6fc4","name":"Event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"summary.eventData","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":120,"wires":[]},{"id":"b7766bc4.bc0ed8","type":"comment","z":"70d08aca.cc6fc4","name":"Listening for Token Transfer Events nonGSE","info":"","x":790,"y":60,"wires":[]},{"id":"e03d5dbe.6f547","type":"debug","z":"912b7fed.347f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":1480,"wires":[]}]